.nav-box{
    display: flex;
    flex-wrap: wrap;
}

.title{
    padding: 20px;
    font-size: 32px;
}

.contanier{
    width: 100%;
    background: #fff;
    max-width: 990px;
    margin: 0 auto;
    border-radius: 18px 18px 0 0;
}